<div class="container" ng-controller="FoodsController"> 
   <div add-food></div>
   <br>
   <div class="container">
      <div class="row">
         <div style="border: 1px solid; border-color: #bbd8e9; border-radius: 8px;" class="col-md-2">
            <div class="scrollable">
            <table class="center-block col-md-12">
               <div class="row">
                  <tr ng-repeat="food in foods">
                     <td style="padding-bottom: 5px; padding-top: 5px;">
                        <button class="btn btn-default col-md-12" ng-click="buttonAddFoodToMeal()">
                           {{food.name}}
                           <br>
                           {{food.cals}} / {{food.protein}} / {{food.carbs}} / {{food.fat}} 
                        </button>
                     </td>
                  </tr>
               </div>
            </table>
            </div>
         </div>
         <div class="col-md-10">
           <table width="100%" class="table table-hover table-bordered" style="border-radius: 4px">
               <tr>
                  <th class="text-center col-md-8">Name</td>
                  <th class="text-center col-md-1">Cals</td>
                  <th class="text-center col-md-1">Protein</td>
                  <th class="text-center col-md-1">Carbs</td>
                  <th class="text-center col-md-1">Fat</td>
               </tr>
            </table>
            <div class="pre-scrollable">
               <table width="100%" class="table table-hover table-bordered" ng-repeat="meal in meals">
                  <tr ng-repeat="food in meal">
                      <td class="text-center col-md-8">
                        {{food.name}}
                     </td>
                     <td class="text-center col-md-1">
                        {{food.cals}}
                     </td>
                     <td class="text-center col-md-1">
                        {{food.protein}}
                     </td>
                     <td class="text-center col-md-1">
                        {{food.carbs}}
                     </td>
                     <td class="text-center col-md-1">
                        {{food.fat}}
                     </td>
                  </tr>
               </table>
            </div>
            <br>
            <table width="100%" class="table table-hover table-bordered">
               <tr>
                  <th class="text-center col-md-8">Totals</td>
                  <td class="text-center col-md-1">{{totalCals}}</td>
                  <td class="text-center col-md-1">{{totalProtein}}</td>
                  <td class="text-center col-md-1">{{totalCarbs}}</td>    
                  <td class="text-center col-md-1">{{totalFat}}</td>         
               </tr>
            </table>
         </div>
      </div>
   </div>
   <br>
   <br>
   <table border="1" width="50%">
      <tr food-item="food" ng-repeat="food in foods">
      </tr>
   </table>
</div>