<div>
  <div add-food></div>
  <br>
  <input id="food-filter-input" class="form-control" placeholder="Filter by Food Name" ng-model="nameFilterValue"></input>
  <div class="container" style="padding-top:10px;">
    <div class="row">
      <div id="food-buttons-container" class="col-md-2 scrollable">
        <ul>
          <li class="food-button-row" ng-repeat="food in filteredFoods | orderBy: '-name': true">
          <button class="btn btn-default food-button font-small"
            onclick="this.blur();" ng-click="addFoodToMeal(food)">
            {{food.name}}
            <br>
            <span class="food-button-macros">
              {{food.calories}} - {{food.protein}} - {{food.carbs}} -
              {{food.fat}} - {{food.sodium}} - {{food.fiber}}
            </span>
          </button>
          </li>
        </ul>
      </div>
      <div class="col-md-10">
        <table width="100%" class="table table-hover table-bordered" style="border-radius: 4px">
          <tr>
            <th class="text-center col-md-2">Servings</th>
            <th class="text-center col-md-4">Name</th>
            <th class="text-center col-md-1">Calories</th>
            <th class="text-center col-md-1">Protein</th>
            <th class="text-center col-md-1">Carbs</th>
            <th class="text-center col-md-1">Fat</th>
            <th class="text-center col-md-1">Sodium</th>
            <th class="text-center col-md-1">Fiber</th>
          </tr>
        </table>
        <div class="pre-scrollable">
          <table width="100%" class="table table-bordered">
            <tr ng-repeat="food in currentMeal">
              <td class="text-center col-md-2 buttons-td">
                <button class="btn btn-default servings-button" ng-click="increaseServing(food)"><span class="glyphicon glyphicon-arrow-up"></span></button>
                <input class="servings-input" ng-model="food.servings" ng-change="updateMacros(food)"</input>
                <button class="btn btn-default servings-button" ng-click="decreaseServing(food)"><span class="glyphicon glyphicon-arrow-down"></span></button>
              </td>
              <td class="text-center col-md-4 food-property-td">
                {{food.name}}
              </td>
              <td class="text-center col-md-1 food-property-td">
                {{food.calories | number:0}}
              </td>
              <td class="text-center col-md-1 food-property-td">
                {{food.protein | number:0}}
              </td>
              <td class="text-center col-md-1 food-property-td">
                {{food.carbs | number:0}}
              </td>
              <td class="text-center col-md-1 food-property-td">
                {{food.fat | number:0}}
              </td>
              <td class="text-center col-md-1 food-property-td">
                {{food.sodium | number:0}}
              </td>
              <td class="text-center col-md-1 food-property-td">
                {{food.fiber | number:0}}
              </td>
            </tr>
          </table>
        </div>
        <br>
        <table width="100%" class="table table-hover table-bordered">
          <tr>
            <th class="text-center col-md-2"></th>
            <td class="text-center col-md-4">Totals</td>
            <td class="text-center col-md-1">{{currentMeal.totals.totalCals}}</td>
            <td class="text-center col-md-1">{{currentMeal.totals.totalProtein}}</td>
            <td class="text-center col-md-1">{{currentMeal.totals.totalCarbs}}</td>
            <td class="text-center col-md-1">{{currentMeal.totals.totalFat}}</td>
            <td class="text-center col-md-1">{{currentMeal.totals.totalSodium}}</td>
            <td class="text-center col-md-1">{{currentMeal.totals.totalFiber}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="date-picker">
      <button class="btn btn-default" ng-click="decrementDay()"><span class="glyphicon glyphicon-arrow-left hover-highlight"></span></button>
      {{currentMealDate.toLocaleDateString("en-US")}}
      <button class="btn btn-default" ng-click="incrementDay()"><span class="glyphicon glyphicon-arrow-right hover-highlight"></span></button>
    </div>
  </div>
</div>
