@font-face {
  font-family: Kirvy;
  src: url("../fonts/Kirvy-Regular.otf") format("opentype");
}
* {
  font-family: Kirvy;
  font-size: small;
}

.scrollable {
	max-height: 455px;
	overflow: hidden;
	overflow-y: scroll;
}

.full-width {
	width: 100%;
}

.full-td {
	padding-left: 0;
	padding-right: 0;
}

.hover-highlight:hover {
	color: #29A3CC;
}

.food-button {
	padding-bottom: 5px; 
	padding-top: 5px;
}

.food-cal-input {
	 width:154px; 
	 height: 26px;
}

#food-buttons-container {
	border: 1px solid; 
	border-color: #bbd8e9; 
	border-radius: 8px;
	height: 455px;
}

#food-filter-input {
	 width: 195px; 
	 height: 26px;
}

.servings-input {
	text-align: center;
	width: 20px;
}
