@font-face {
  font-family: Kirvy;
  src: url("../fonts/Kirvy-Regular.otf") format("opentype");
}

* {
  font-family: Kirvy;
  font-size: small;
}

.main {
  padding: 0px;
}

.scrollable {
  max-height: 455px;
  overflow: hidden;
  overflow-y: scroll;
}

.colored {
  background-color: #256188;
  color: #FFFFFF;
}

.navbar-color {
  color: #FFFFFF !important;
}

.full-td {
  padding-left: 0;
  padding-right: 0;
}

.font-small {
  font-size: small !important;
}

.hover-highlight:hover {
  color: #29A3CC;
}

.food-button {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
}

.food-button-row {
  padding-bottom: 1em;  
}

.food-cal-input {
  width:154px; 
  height: 26px;
}

.food-property-td {
  padding-top: 16px !important;
}

#food-buttons-container {
  border: 1px solid; 
  border-color: #bbd8e9; 
  border-radius: 8px;
  height: 455px;
}

#food-buttons-container ul {
  padding-left: 0;
  list-style-type: none;
}

#food-buttons-container ul li {
  position: relative;
  height: 4em;
}

#food-filter-input {
  width: 195px; 
  height: 26px;
}

.servings-input {
  text-align: center;
  width: 35px;
}

.servings-button {
  height: 35px;
}

.buttons-td {
  padding-bottom: 2px;
}

.date-picker {
  margin: 10px 0 20px;
  text-align: right;
}

.food-button-macros {
  font-size: smaller;
}
