@font-face {
  font-family: Kirvy;
  src: url("../fonts/Kirvy-Regular.otf") format("opentype");
}
* {
  font-family: Kirvy;
  font-size: small;
}

.scrollable {
	max-height: 455px;
	overflow: hidden;
	overflow-y: scroll;
}

.colored {
	background-color: #256188;
	color: #FFFFFF;
}

.navbar-color {
	color: #FFFFFF !important;
}

.full-width {
	width: 100%;
}

.full-td {
	padding-left: 0;
	padding-right: 0;
}

.font-small {
	font-size: small !important;
}

.hover-highlight:hover {
	color: #29A3CC;
}

.food-button {
	padding-bottom: 5px; 
	padding-top: 5px;
}

.food-cal-input {
	 width:154px; 
	 height: 26px;
}

.food-property-td {
	padding-top: 16px !important;
}

#food-buttons-container {
	border: 1px solid; 
	border-color: #bbd8e9; 
	border-radius: 8px;
	height: 455px;
}

#food-filter-input {
	 width: 195px; 
	 height: 26px;
}

.servings-input {
	text-align: center;
	width: 35px;
}

.servings-button {
	height: 35px;
}

.buttons-td {
	padding-bottom: 2px;
}
